body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color:darkslateblue;
}
em {
    color:green;
}
a:link {
    color:limegreen;
}
a:visited {
    color:tomato;
}
a:hover {
    text-decoration: none;
}
p {
    border: 5px;
    display: table;
    border-style: solid;
    border-color: black;
}